div#continents h3 {
        font-family: "Montserrat";
        font-weight: 600;
        font-style: bold;
        font-size: 22px;
        color: rgba(91,114,151,1);
        position: relative;
        top: 10px;
        left: 1.5%;
        width: 20%;
}

div#continents table tr{
    width: 100%;
}

div#continents table tr td{
    width: 0.000000000000000001%;
}