div#main {
    overflow-y: auto;
    height: 91%;
    width: 100%;
    top: 9%;
    position: absolute;
}

div#main::-webkit-scrollbar{
    width: 10px;
}

div#main::-webkit-scrollbar-thumb{
    background-color: rgba(114, 140, 173, 0.692);
}

div#main::-webkit-scrollbar-track{
    background-color: rgba(114, 139, 173, 0.247);
}