.countryModal {
    box-shadow: 0 0 10px rgba(114, 139, 173, 0.986);
    border-color: rgb(114, 138, 173) !important;
    border-radius: 50px !important;
}

h4{
    margin: auto;
}

img#countryFlag {
    margin: auto;
    box-shadow: 0 0 5px  rgba(114, 138, 173, 0.548);
}

div.countryData{
    margin: auto;
}

div.countryData span{
    display: inline-block;
    margin: 0 5px;
    white-space: nowrap;
}

div.countryData span:nth-child(2n){
    width:20%;
    text-align: right;
}