div#global h3{
    font-family: "Montserrat";
    font-weight: 600;
    font-style: bold;
    font-size: 22px;
    color: rgba(91,114,151,1);
    position: relative;
    left: 1.5%;
    width: 20%;
}

table {
    width: 95%;
    margin: auto;
    margin-top: unset;
    text-align: center;
    display: block;
    overflow-y: unset;
    overflow-x: unset;
    border: solid rgba(112, 112, 112, 0.21);
    border-width: 0 0 1px 0;
    border-radius: 0 0 10px 10px;
}

tr{
    width: 100%;
    border: 1px solid rgba(112, 112, 112, 0.21);
}

th{
    padding: 2px 2px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: rgba(91,114,151,1);
    border: 1px solid;
    border-color:  rgba(112, 112, 112, 0.21)  rgba(112, 112, 112, 0.171);
}
td {
    padding: 2px 5px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    color: rgba(91,114,151,1);
}

thead tr:last-of-type{
    cursor: context-menu;
}

tbody td {
    border-color:  rgba(112, 112, 112, 0.21);
    font-size: 15px;
    height: 40px;
}

tbody tr {
    background-color: #fffffff6;
    border-bottom: 0;
}

tbody tr td:nth-child(n+2){
    text-align: right;
}

tbody tr:hover{
    transform: scaleX(1.008);
    cursor: context-menu;
    background-color: #FFFFFF;
    box-shadow:  0 0 5px  rgba(112, 112, 112, 0.507);
}

td#affected {
    font-size: 15px;
    width: 5%;
    line-height: 20px;
    white-space: wrap;
}

td.tests {
    color: #313EEF;
}

td.cases {
    color: #3976D6;
}

td.active {
    color: #DC8B21;
}

td.critical {
    color: #BC1D2D;
}

td.deaths {
    color: #FB1515;
}

td.recovered {
    color: #117406;
}

@media screen and (max-width: 1225px){
    table > thead > tr:first-of-type > th:last-of-type{
        display: none;
    }
    table > thead > tr:last-of-type > td:nth-last-child(-n+3){
        display: none;
    }
    table > tbody > tr > td:nth-last-child(-n+3){
        display: none;
    }
}

@media screen and (max-width: 850px){
    table > thead > tr:first-of-type > th:nth-last-of-type(-n+2){
        display: none;
    }
    table > thead > tr:last-of-type > td:nth-last-child(-n+6){
        display: none;
    }
    table > tbody > tr > td:nth-last-child(-n+6){
        display: none;
    }
}

@media screen and (max-width: 640px){
    .disappearOnShrink{
        display: none;
    }
    td {
        width: 0.0000001%;
        font-size: 14px;
    }
}