div#countries h3 {
    font-family: "Montserrat";
    font-style: bold;
    font-weight: 600;
    font-size: 22px;
    color: rgba(91,114,151,1);
    position: relative;
    top: 10px;
    left: 1.5%;
    width: 20%;
    float: left;
}

div#countries table{
    position: relative;
    bottom: 5%;
    display: block;
    margin-bottom: 1%;
    clear: both;
}

div#countries table tbody tr, div#countries table thead tr{
    display: table;
    table-layout: fixed;
}

div#countries table thead tr:last-of-type{
    text-align: right;
}

div#countries table tbody{
    height: 500px !important;
    overflow-x: hidden;
    table-layout: fixed;
    overflow-y: auto;
    display: block;
}

tbody::-webkit-scrollbar{
    width: 10px;
}

tbody::-webkit-scrollbar-thumb{
    background-color: rgba(114, 140, 173, 0.692);
}

tbody::-webkit-scrollbar-track{
    background-color: rgba(114, 139, 173, 0.247);
}


/* div#countries table tr td{
    width: 0.000000000000000001%;
} */

div#countries table tbody td:first-of-type{
    font-size: 14px;
    padding: 0;
    text-align: left;
    padding-left: 2px;
    background-color: rgba(226, 232, 238, 0.74);
}

div.searchbar {
   float: right;
   margin-right: 2.9%;
   white-space: nowrap;
   margin-top: 10px;
   margin-bottom: -3px;
}

div.searchbar label{
    color: rgba(91,114,151,1);
    margin-right: 10px;
}
div.searchbar input{
    height: 25px;
    padding: 5px 15px;
    border: rgba(0, 0, 0, 0.404) 1px solid;
}

div.searchbar input::-webkit-input-placeholder {
    color: rgba(91, 114, 151, 0.863);
}

div.searchbar input:focus{
    outline: none;
    color: rgb(37, 74, 134);
}

div.searchbar i{
    margin-left: -20px;
    color: rgba(91,114,151,1);
}

img.countryFlag {
    height: 16px;
    width: 22px;
}