nav {
    border-bottom: rgba(91, 114, 151, 0.226) solid 1px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    padding: 5px 10px;
    fill: #fff;
    background-color: white;
    height: 7%;
    width: 100%;
    z-index: 300;
}

nav > h3 {
    font-size: 25px;
    color: rgba(91,114,151,1);
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
}

nav > h5{
    text-align: center;
    margin-left: 30%;
}